@using Microsoft.AspNetCore.Components.Web
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <!-- FluentUI Blazor CSS - REQUIRED -->
    <link href="/_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="@Assets["app.css"]" />
    
    <!-- FluentUI.Blazor.Monaco.EditorPack - reference CSS -->
    <link rel="stylesheet" href="/_content/FluentUI.Blazor.Monaco.EditorPack/css/markdownPreview.css" />
   
    <link rel="stylesheet" href="@Assets["FluentUI.Blazor.Monaco.EditorPack.DemoApp.styles.css"]" />
    
     <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
   
    <!-- FluentUI.Blazor.Monaco.EditorPack - set render mode -->
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: true)" />
</head>

<body>
   
    <FluentDesignTheme StorageName="theme" />
    <loading-theme storage-name="theme" random-color="true"></loading-theme>
    
    <!-- FluentUI.Blazor.Monaco.EditorPack - set render mode -->
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: true)" />
   
   <script src="_framework/blazor.web.js"></script>
    
    <script type="module" src="js/CookieConsent.js"></script>
    <script type="module" src="js/CacheStorageAccessor.js"></script>
    
    <!-- FluentUI.Blazor.Monaco.EditorPack - Required Scripts (Simplified) -->
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/js/monaco-editor-pack.js"></script>
    
    <script>
        function preventDefaultNavigation(event) {
            event.preventDefault();
        }
    </script>
    
    @* Ensure any host-only Monaco extensions are loaded after the Monaco Editor Pack *@
    <script src="/js/frontMatterYamlHost.js"></script>
    
    </body>

</html>

@code
{
    public const string MESSAGES_NOTIFICATION_CENTER = "NOTIFICATION_CENTER";
    public const string MESSAGES_TOP = "TOP";
    public const string MESSAGES_DIALOG = "DIALOG";
    public const string MESSAGES_CARD = "CARD";
}

