<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="_content/FluentUI.Blazor.Monaco.EditorPack/css/markdownPreview.css" />
    <link rel="stylesheet" href="@Assets["FluentUI.Blazor.Monaco.EditorPack.DemoApp.styles.css"]" />
    
    <!-- FluentUI Blazor Components -->
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module" async></script>
    <!-- Set the default theme -->
    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/js/loading-theme.js" type="text/javascript"></script>
   
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: true)" />
</head>

<body>
   
    <FluentDesignTheme StorageName="theme" />
    <loading-theme storage-name="theme" random-color="true"></loading-theme>
    
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: true)" />
   
   <script src="_framework/blazor.web.js"></script>
    
   <script type="module" src="js/CookieConsent.js"></script>
    <script type="module" src="js/CacheStorageAccessor.js"></script>
    
    <!-- Monaco Editor Package - Required Scripts -->
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/js/fluentUIDesignTokens.js"></script>
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/js/cssClassHarvester.js"></script>
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/js/monacoCssEditorTheme.js"></script>
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/js/monacoCssEditor.js"></script>
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/js/monacoMarkdownEditor.js"></script>
    <script src="_content/FluentUI.Blazor.Monaco.EditorPack/js/monacoMarkdownToolbar.js"></script>
    <script>
        function preventDefaultNavigation(event) {
            event.preventDefault();
        }
    </script>
    
    </body>

</html>

@code
{
    public const string MESSAGES_NOTIFICATION_CENTER = "NOTIFICATION_CENTER";
    public const string MESSAGES_TOP = "TOP";
    public const string MESSAGES_DIALOG = "DIALOG";
    public const string MESSAGES_CARD = "CARD";
}

