@using FluentUI.Blazor.Monaco.EditorPack.WasmDemo.Services
@inject PageTitleService PageTitleService
@inherits LayoutComponentBase
@implements IDisposable

<FluentLayout>
    <FluentHeader Fixed="true" Style="z-index: 1000; background: var(--accent-fill-rest); padding: 16px;">
        <FluentLabel Typo="Typography.H1" Style="margin: 0;">
            @PageTitleService.CurrentTitle
        </FluentLabel>
        <FluentSpacer/>
        <SiteSettings/>
    </FluentHeader>
    <FluentBodyContent Class="body-content">
        @Body
        <FluentToastProvider MaxToastCount="10"/>
        <FluentDialogProvider/>
        <FluentTooltipProvider/>
        <FluentKeyCodeProvider/>
        <FluentMenuProvider/>
    </FluentBodyContent>
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnInitialized()
    {
        PageTitleService.OnTitleChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PageTitleService.OnTitleChanged -= StateHasChanged;
    }
}
