@using Microsoft.AspNetCore.Components.Authorization
@using FluentUI.Blazor.Monaco.EditorPack.DemoApp.Services
@inject PageTitleService PageTitleService
@inherits LayoutComponentBase
@implements IDisposable

<AuthorizeView>
    <Authorized>
        <FluentLayout>
            <FluentHeader Fixed="true" Style="z-index: 1000; background: var(--neutral-layer-1); padding: 16px;">
                <FluentLabel Typo="Typography.H1" Style="margin: 0;">
                    @PageTitleService.CurrentTitle
                </FluentLabel>
                <FluentSpacer/>
                <SiteSettings/>
            </FluentHeader>
            <FluentBodyContent Class="body-content">
                <CookieConsent/>
                <FluentMessageBarProvider Section="@App.MESSAGES_TOP" Style="padding-bottom: 1rem;"/>
                @Body
                <FluentToastProvider MaxToastCount="10"/>
                <FluentDialogProvider/>
                <FluentTooltipProvider/>
                <FluentKeyCodeProvider/>
                <FluentMenuProvider/>
            </FluentBodyContent>
        </FluentLayout>
    </Authorized>
    <NotAuthorized>
        <FluentHeader Fixed="true" Style="z-index: 1000; background: var(--neutral-layer-4); padding: 16px;">
            <FluentLabel Typo="Typography.H1" Style="margin: 0;">
                @PageTitleService.CurrentTitle
            </FluentLabel>
            <FluentSpacer/>
            <SiteSettings/>
        </FluentHeader>
        <FluentBodyContent Style="max-width: 100%; width: 100%; padding: 0 1.5rem;">
            <CookieConsent/>
            <FluentMessageBarProvider Section="@App.MESSAGES_TOP" Style="padding-bottom: 1rem;"/>
            @Body
            <FluentToastProvider MaxToastCount="10"/>
            <FluentDialogProvider/>
            <FluentTooltipProvider/>
            <FluentKeyCodeProvider/>
            <FluentMenuProvider/>
        </FluentBodyContent>
    </NotAuthorized>
</AuthorizeView>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    protected override void OnInitialized()
    {
        PageTitleService.OnTitleChanged += StateHasChanged;
    }

    public void Dispose()
    {
        PageTitleService.OnTitleChanged -= StateHasChanged;
    }
}
